<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Task 8: RoR</title>
  <style>
    body {
      width: 960px;
      margin: 10px auto;
      font-family: Tahoma, Verdana, Segoe, sans-serif;
    }
    h1 {
      font-size: 36px;
    }
    h1, h2 {
      color: rgb(26, 141, 228)
    }
    table {
      border-collapse: collapse;
    }
    table, th, td {
      padding: 5px;
      border: 1px solid #bbb;
    }
    .msg {
      background: yellow;
      color: PaleVioletRed;
      font-weight: bold;
    }
    .hidden {
      display: none;
    }
  </style>
</head>
<body>
  <h1>Лабораторная работа №8: числа-близнецы</h1>
  <a href="/">&laquo;назад</a>
  <h2>результаты для n = <%= @num %>:</h2>
  <table <%= 'class=hidden' if @list.length == 0 %> >
    <tr>
      <th>№</th>
      <th>числа-близнецы</th>
    </tr>
    <% @list.each_with_index do |rec, ind| %>
      <tr>
        <td><%= ind + 1 %></td>
        <td><%= rec %></td>
      </tr>
    <% end %>
  </table>
  <p class="msg <%= 'hidden' if @list.length > 0 %>">&laquo;чисел-близнецов&raquo; в указанном диапазоне нет!</p>
</body>
</html>
